{% extends 'base.html' %}
{% block base %}
{% csrf_token %}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-9">
            <b><h1>Post</h1></b>
            <a class='mt-4' style="display:flex" href="/Profile/{{user.id}}"><img class="linkavatar" src="{{user.avatar.url}}"><p class="linkname font-weight-bold mt-2 mx-3">{{user.username}}</p></a>
            <p class="text-white my-4">{{post.text}}</p>

            {% if post.image %}
            <img src="{{post.image.url}}">
            {% endif %}
            {% if like == 0 %}
            <button id="like" data-url="/postPage/{{post.id}}/">dislike</button>
            {% else %}
            <button id="like" data-url="/postPage/{{post.id}}/">like</button>
            {% endif %}
            <h3 id="kollike">{{keylike}}</h3>
            <div id="comments">
            {% for a in comments %}
            <p><b>{{a.user.username}}</b> {{a.text}}</p>
            {% endfor %}
    </div>
    {{key3}}
    <button id="comentb" data-url="/postPage/{{post.id}}/">enter</button>
        </div>
    </div>
</div>
{% endblock %}