{% extends 'base.html' %}
{%block import%}
<script src="/static/js/main.js"></script>
{%endblock%}
{% block base %}
<div class="container-fluid my-3">
    <div class="row">
        {% csrf_token %}
        <div class="col-9">
            <h1 class="text-white mx-4" style="font-size : 30px"><b>{{user.username}}</b></h1>
            <p style="color : #A0A0A0" class="text-white mx-4 my-1"><small>{{manyposts}} posts</small></p>
            <div style="width : 100%; position : relative; height : 275px">
                <div class="imagediv">
                    <img class="fon" src="{{user.fon.url}}">
                </div>
                <img class="profileImage my-3" src="{{user.avatar.url}}">
                <button class="settings my-3 mx-4" id="settings"><b>Profile Settings</b></button>
            </div>
            <h1 class="text-white" style="font-size : 50px"><b>{{user.username}}</b></h1>
            <p class="color1 mt-5">{{usersdata}}</p>
            <p class="color1 my-2">Followers {{koldata}}    Following {{kolsub}}</p>
            <div class="profilebuttons my-5">
                <div class="covers"><a class="classesbuttons" href="/Profile">Posts</a></div>
                <div class="covers"><a class="classesbuttons" href="/Profile/Comments">Comments</a></div>
                <div class="covers"><a class="classesbuttons" href="/Profile/Liked">Liked</a></div>
                <div class="covers"><a class="classesbuttons" href="/Profile/Media">Media</a></div>

            </div>
            {% if posts %}
            {% for a in posts %}
                <div class="post">
                    <a class='mt-4' style="display:flex" href="/Profile/{{a.0.user.id}}"><img class="linkavatar" src="{{a.0.user.avatar.url}}"><p class="linkname font-weight-bold mt-2 mx-3">{{a.0.user.username}}</p></a>
                    <p class="text-white my-1" style="margin:0px 65px; font-size:20px">{{a.0.text}}</p>
                    <div class="imagecover">
                        {% if a.0.image.url != '' %}
                        <a href="/postPage/{{a.0.id}}/"><img src="{{a.0.image.url}}" class="postimages"> </a>
                        {% endif %}
                    </div>
                    <br >
                    {% if a.2 == 1 %}
                    <img id="{{a.0.id}}" class="buttonsImages ml-4" src="/static/images/like.png"> <span class="text-white" id="likes{{a.0.id}}">{{a.1}}</span>
                    {% else %}
                    <img id="{{a.0.id}}" class="buttonsImages ml-4" src="/static/images/dislike.png"> <span class="text-white" id="likes{{a.0.id}}">{{a.1}}</span>
                    {% endif %}
                    <a href="/postPage/{{a.0.id}}"><img class="buttonsImages ml-5" src="/static/images/comments1.png"></a>
                    <span class="createat mx-5 my-2">{{a.3}}</span>
                    <img  class="buttonsImages ml-5" src="/static/images/save1.png">
                    <img  class="buttonsImages ml-5" src="/static/images/share1.png">
                </div>
            {%endfor %}
            {% elif selfImages %}
            {% for a in selfImages %}
            <div style=" width : 100%" class="my-5">
                <img class="images" src="{{a.url}}">
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-3">
            <a style="display:flex" href="/Profile/{{user.id}}"><img class="linkavatar" src="{{user.avatar.url}}"><p class="linkname font-weight-bold mt-2 mx-3">{{user.username}}</p></a>
        </div>
    </div>
</div>
{% endblock %}